@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";

@layer utilities {
    * {
        font-family: Poppins;
    }

    .bg-tenis {
        background-image: url("../src/assets/bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}