@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
@import "tailwindcss/utilities";

@layer utilities {
  .bg-uber {
    background-image: url('/uber/src/assets/bguber.png');
    background-size: cover;
    background-position: center;
  }

  .bg-city {
    background-image: url('/uber/src/assets/bg-city.png');
    background-size: cover;
    background-position: center;
  }
}